@using ZiTechDev.Data.Enums;
@model ZiTechDev.CommonModel.Requests.User.UserViewModel
@{
    ViewData["Title"] = "Hồ sơ cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="container-fluid">
    <div class="card mb-4 bg-light">
        <div class="card-body justify-content-center">

            <h1 class="form-group text-center text-uppercase">Hồ sơ cá nhân của '@Model.UserName'</h1>
            <dl class="row justify-content-center">
                <div class="col-md-8 row">
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    @{ var fullName = Model.FirstName + " " + Model.MiddleName + " " + Model.LastName; }
                    <dt class="col-md-5">
                        Họ tên
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => fullName)
                    </dd>

                    @{ var dob = Model.DateOfBirth.ToShortDateString(); }
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => dob)
                    </dd>
                    @{
                        var gender = "";
                        if (Model.Gender == GenderType.Male) gender = "Nam";
                        else if (Model.Gender == GenderType.Female) gender = "Nữ";
                        else gender = "Khác";
                    }
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => gender)
                    </dd>


                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.DisplayName)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.DisplayName)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>

                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.Email)
                        @{
                            if (Model.EmailConfirmed)
                            {
                                <i class="fa fa-check-circle" style="color:lightgreen"></i>
                                <p class="text-success">Đã xác minh</p>
                            }
                            else
                            {
                                <i class="fas fa-exclamation-circle" style="color:orange"></i>
                                <a class="text-danger">Xác minh ngay</a>
                            }
                        }
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.PhoneNumber)
                        @{
                            if (Model.PhoneNumberConfirmed)
                            {
                                <i class="fa fa-check-circle" style="color:lightgreen"></i>
                                <p class="text-success">Đã xác minh</p>
                            }
                            else
                            {
                                <i class="fas fa-exclamation-circle" style="color:orange"></i>
                                <a class="text-danger">Xác minh ngay</a>
                            }
                        }
                    </dd>

                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.DateOfJoin)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.DateOfJoin)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                    </dt>
                    <dd class="col-md-7">
                        @{
                            if (Model.TwoFactorEnabled)
                            {
                                <p>Đã kích hoạt</p>
                            }
                            else
                            {
                                <p>Chưa kích hoạt</p>
                            }
                        }
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.Roles)
                    </dt>
                    <dd class="col-md-7">
                        @{
                            string roleStr = "";
                            if (Model.Roles != null)
                            {
                                roleStr = string.Join(", ", Model.Roles);
                            }
                        }
                        @Html.DisplayFor(model => roleStr)
                    </dd>

                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.NormalizedUserName)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.NormalizedUserName)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.NormalizedEmail)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.NormalizedEmail)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.ConcurrencyStamp)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.SecurityStamp)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.SecurityStamp)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.LockoutEnabled)
                    </dt>
                    <dd class="col-md-7">
                        @{
                            if (Model.LockoutEnabled)
                            {
                                <p>Bật</p>
                            }
                            else
                            {
                                <p>Tắt</p>
                            }
                        }
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.LockoutEnd)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.LockoutEnd)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.LastAccess)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.LastAccess)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.AccessFailedCount)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.AccessFailedCount)
                    </dd>
                </div>
            </dl>

            <div class="row justify-content-center">
                <div class="col-md-8">
                    <button type="button" class="form-group btn btn-warning w-100 m-1" onclick="location.href='@Url.Action("EditProfile", "Auth", new { userId = Model.Id })'">Chỉnh sửa</button>
                    <button type="button" class="form-group btn btn-primary w-100 m-1" onclick="location.href='@Url.Action("ChangePassword", "Auth", new { userId = Model.Id })'">Đổi mật khẩu</button>
                </div>
            </div>
        </div>
    </div>
</div>