@using ZiTechDev.Data.Enums;
@model ZiTechDev.CommonModel.Requests.User.UserViewModel
@{ ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<hr />
<div class="container-fluid">
    <div class="card mb-4 bg-light">
        <div class="card-body justify-content-center">

            <h1 class="form-group text-center text-uppercase">@ViewBag.Title</h1>
            <dl class="row">
                <div class="col-md-6 row">
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.MiddleName)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.MiddleName)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    @{ var dob = Model.DateOfBirth.ToShortDateString(); }
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => dob)
                    </dd>
                    @{ var gender = "";
                        if (Model.Gender == GenderType.Male) gender = "Nam";
                        else if (Model.Gender == GenderType.Female) gender = "Nữ";
                        else gender = "Khác"; }
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => gender)
                    </dd>

                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.DisplayName)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.DisplayName)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.NormalizedUserName)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.NormalizedUserName)
                    </dd>

                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.Email)
                        @{ if (Model.EmailConfirmed)
                            {
                <i class="fa fa-check-circle" style="color:lightgreen"></i> }
            else
            {
<i class="fas fa-exclamation-circle" style="color:orange"></i> } }
                    </dd>
                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.NormalizedEmail)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.NormalizedEmail)
                    </dd>

                    <dt class="col-md-5">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.PhoneNumber)
                        @{ if (Model.PhoneNumberConfirmed)
                            {
                <i class="fa fa-check-circle" style="color:lightgreen"></i> }
            else
            {
<i class="fas fa-exclamation-circle" style="color:orange"></i> } }
                    </dd>
                </div>

                <div class="col-md-6 row">
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.DateOfJoin)
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.DateOfJoin)
                    </dd>
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.ConcurrencyStamp)
                    </dd>
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.SecurityStamp)
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.SecurityStamp)
                    </dd>
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.LockoutEnabled)
                    </dt>
                    <dd class="col-md-8">
                        @{ if (Model.LockoutEnabled)
                            {
                <p>Bật</p> }
            else
            {
<p>Tắt</p> } }
                    </dd>
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.LockoutEnd)
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.LockoutEnd)
                    </dd>
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                    </dt>
                    <dd class="col-md-8">
                        @{ if (Model.TwoFactorEnabled)
                            {
                <p>Đã kích hoạt</p> }
            else
            {
<p>Chưa kích hoạt</p> } }
                    </dd>
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.LastAccess)
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.LastAccess)
                    </dd>
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.AccessFailedCount)
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.AccessFailedCount)
                    </dd>
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.Roles)
                    </dt>
                    <dd class="col-md-8">
                        @{ string roleStr = "";
                            if (Model.Roles != null)
                            {
                                roleStr = string.Join(", ", Model.Roles);
                            } }
                        @Html.DisplayFor(model => roleStr)
                    </dd>
                </div>
            </dl>
            <div class="row justify-content-center">
                <button type="button" class="form-group col-md-5 btn btn-warning w-100 m-1" onclick="location.href='@Url.Action("Update", "UsersAdministrator", new { userId = Model.Id })'">Cập nhật</button>
                <button type="button" class="form-group col-md-5 btn btn-dark w-100 m-1" onclick="window.location.href='Index'">Hủy</button>
            </div>
        </div>
    </div>
</div>
